<div class="container">
    @(Html.DevExtreme().DataGrid<ProductionSection>()
    .ID("dxContainer")
    .DataSource(d => d.Mvc()
    .Controller("Describing")
    .LoadAction("GetAllProductionSection")
    .UpdateAction("UpdateProductionSection")
    .DeleteAction("DeleteProductionSection")
    .InsertAction("AddProductionSection")
    .Key("ProductionSectionId")

    )
    .RemoteOperations(true)
    .Columns(columns => {

    columns.AddFor(m => m.ProductionSectionName).Alignment(HorizontalAlignment.Left).Caption("Üretim Bölümü").AllowFiltering(true);

    })
    .SearchPanel(s => s
    .Visible(true)
    .HighlightCaseSensitive(true)
    .Placeholder("Ara")
    .Width(200)
    )
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .GroupPanel(p => p.Visible(true).EmptyPanelText("Üretim Bölümü Tanımlayın"))
    .Height(600)
    .ShowBorders(true)
    .Pager(p=>
    p.AllowedPageSizes(new List<int>{25})
    .ShowNavigationButtons(true)
    .ShowPageSizeSelector(false)
    .Visible(true)
    .ShowNavigationButtons(true)

    )
    .Paging(p=>p.PageSize(25))
    .Editing(e =>
    e.AllowAdding(true)
    .AllowDeleting(true)
    .AllowUpdating(true)
    .UseIcons(true)
    .Mode(GridEditMode.Batch)
    .Popup(p=>
    p.Title("Üretim Bölümü Ekle & Düzenle")
    .ShowTitle(true)
    .Width(700)
    .Height(500)
    )
    )
    .Grouping(g => g.AutoExpandAll(false))

    )
</div>