
<div class="container">
   <div class="card card-flush shadow-sm">
        <div class="card-header">
            <h3 class="card-title">Rutin Bakım Tanımlayın</h3>
        </div>
        <div class="card-body py-5">
                        
            @(Html.DevExtreme().DataGrid<RutinBakim>()
                .ID("dxContainer")
                .DataSource(d => d.Mvc()
                .Controller("Describing")
                .LoadAction("GetAllRutinBakim")
                .UpdateAction("UpdateRutinBakim")
                .DeleteAction("DeleteRutinBakim")
                .InsertAction("AddRutinBakim")
                .Key("RutinBakimId")

                )
                .RemoteOperations(true)
                .Columns(columns => {

                columns.AddFor(m => m.KategoriId).AllowEditing(true).Lookup(l=>l.DataSource(d=>d.Mvc().LoadAction("GetAllRutinBakimKategori").Key("KategoriId")).DisplayExpr("KategoriAdi").ValueExpr("KategoriId")).Alignment(HorizontalAlignment.Left).Caption("Kategori Adi").AllowFiltering(true);

                columns.AddFor(m=>m.RutinBakimAdi).AllowEditing(true).Alignment(HorizontalAlignment.Center).Caption("Bakim");

                columns.AddFor(m=>m.Aciklama).AllowEditing(true).Alignment(HorizontalAlignment.Center).Caption("Aciklama");

                //TEKRAR ARALIĞI GELECEK

                columns.AddFor(m => m.UploadDate).AllowEditing(false).Alignment(HorizontalAlignment.Left).Caption("Eklenme Tarihi").AllowFiltering(true);

                })
                .SearchPanel(s => s
                .Visible(true)
                .HighlightCaseSensitive(true)
                .Placeholder("Ara")
                .Width(200)
                )
                .FilterRow(f => f.Visible(true))
                .HeaderFilter(f => f.Visible(true))
                .ShowBorders(true)
                .GroupPanel(p => p.Visible(true).EmptyPanelText("Rutin Bakımlar"))
                .Height("100%")
                .Paging(paging => paging.PageSize(10))
                 .Editing(e =>
                e.AllowAdding(true)
                .AllowDeleting(true)
                .AllowUpdating(true)
                .UseIcons(true)
                .Mode(GridEditMode.Popup)
                .Popup(p=>
                p.Title("Rutin Bakım Ekle & Düzenle")
                .ShowTitle(true)
                .Width(700)
                ))
                .Pager(p=>
                p.AllowedPageSizes(new JS("[5, 10, 20]"))
                .ShowNavigationButtons(true)
                .ShowPageSizeSelector(true)
                .Visible(true)
                .ShowNavigationButtons(true) 
                .ShowInfo(true)
                .DisplayMode(GridPagerDisplayMode.Full)
                )
                .Grouping(g => g.AutoExpandAll(false))
                )
        </div>
        <div class="card-footer">
           
        </div>
    </div>
</div>



