<div class="container">
    <div class="card card-flush shadow-sm">
        <div class="card-header">
            <h3 class="card-title">Arıza Tanımlayın</h3>
        </div>
        <div class="card-body py-5">  
            @(Html.DevExtreme().DataGrid<SectionFault>()
                .ID("dxContainer")
                .DataSource(d => d.Mvc()
                .Controller("Describing")
                .LoadAction("GetAllSectionFault")
                .UpdateAction("UpdateSectionFault")
                .DeleteAction("DeleteSectionFault")
                .InsertAction("AddSectionFault")
                .Key("SectionFaultId")
                )
                .RemoteOperations(true)
                .Columns(columns => {

                columns.AddFor(m=>m.FaultCategoryId).Lookup(l=>l.DataSource(d=>d.Mvc().LoadAction("GetAllSectionFaultCategory").Key("FaultCategoryId")).DisplayExpr("FaultCategoryName").ValueExpr("FaultCategoryId")).Caption("Arıza Kategorisi");

                columns.AddFor(m => m.SectionFaultName).AllowEditing(true).Alignment(HorizontalAlignment.Left).Caption("Arıza").AllowFiltering(true);

                })
                .SearchPanel(s => s
                .Visible(true)
                .HighlightCaseSensitive(true)
                .Placeholder("Ara")
                .Width(200)
                )
                .FilterRow(f => f.Visible(true))
                .HeaderFilter(f => f.Visible(true))
                .ShowBorders(true)
                .GroupPanel(p => p.Visible(true).EmptyPanelText("Arızalar"))
                .Height("100%")
                .Paging(paging => paging.PageSize(10))
                .Editing(e =>
                e.AllowAdding(true)
                .AllowDeleting(true)
                .AllowUpdating(true)
                .UseIcons(true)
                .Mode(GridEditMode.Popup)
                .Popup(p=>
                p.Title("Arıza Ekle & Düzenle")
                .ShowTitle(true)
                .Width(700)
                ))
                .Pager(p=>
                p.AllowedPageSizes(new JS("[5, 10, 20]"))
                .ShowNavigationButtons(true)
                .ShowPageSizeSelector(true)
                .Visible(true)
                .ShowNavigationButtons(true) 
                .ShowInfo(true)
                .DisplayMode(GridPagerDisplayMode.Full)
                )
                .Grouping(g => g.AutoExpandAll(false))
                )
        </div>
        <div class="card-footer">
           
        </div>
    </div>
</div>



