<div class="container">

    <div class="card card-flush shadow-sm">
        <div class="card-header">
            <h3 class="card-title">Stok Grubu Tanımlayın</h3>
        </div>
        <div class="card-body py-5">
           
            @(Html.DevExtreme().DataGrid<StockGroup>()
                .ID("dxContainer")
                .DataSource(d => d.Mvc()
                .Controller("Describing")
                .LoadAction("GetAllStockGroup")
                .UpdateAction("UpdateStockGroup")
                .DeleteAction("DeleteStockGroup")
                .InsertAction("AddStockGroup")
                .Key("StockGroupId")

                )
                .RemoteOperations(true)
                .Columns(columns => {

                columns.AddFor(m => m.StockGroupName).Alignment(HorizontalAlignment.Left).Caption("Grup Adı").AllowFiltering(true);

                })
                .SearchPanel(s => s
                .Visible(true)
                .HighlightCaseSensitive(true)
                .Placeholder("Ara")
                )
                .FilterRow(f => f.Visible(true))
                .HeaderFilter(f => f.Visible(true))
                .Height("100%")
                .ShowBorders(true)
                .GroupPanel(p => p.Visible(true).EmptyPanelText("Stok Grupları"))
                .Paging(paging => paging.PageSize(10))
                .Pager(p=>
                p.AllowedPageSizes(new JS("[5, 10, 20]"))
                .ShowNavigationButtons(true)
                .ShowPageSizeSelector(true)
                .Visible(true)
                .ShowNavigationButtons(true)
                .ShowInfo(true)
                .DisplayMode(GridPagerDisplayMode.Full)
                )

                            @*.MasterDetail(md => md
                .Enabled(true)
                .Template(@<text>

                @(Html.DevExtreme().DataGrid()
                .DataSource(d => d.Mvc()
                .Controller("VGrup")
                .LoadAction("OrderDetails")
                .LoadParams(new { vGrupId = new JS("data.VGrupId") })
                )
                .ShowBorders(true)
                )

                </text>)
                )*@
                .Editing(e =>
                e.AllowAdding(true)
                .AllowDeleting(true)
                .AllowUpdating(true)
                .UseIcons(true)
                .Mode(GridEditMode.Popup)
                .Popup(p=>
                p.Title("Grup Ekle & Düzenle")
                .ShowTitle(true)
                .Width(700)
                .Height(500)
                )
                )
                .Grouping(g => g.AutoExpandAll(false))

                )
        </div>
        <div class="card-footer">
          
        </div>
    </div>
</div>
