

<div class="container">
    <div class="card card-flush shadow-sm">
        <div class="card-header">
            <h3 class="card-title">Stok Kategorisi Tanımlayın</h3>
        </div>
        <div class="card-body py-5">

            @(Html.DevExtreme().DataGrid<StokKategori>()
                .ID("dxContainer")
                .DataSource(d => d.Mvc()
                .Controller("Describing")
                .LoadAction("GetAllStokKategori")
                .UpdateAction("UpdateStokKategori")
                .DeleteAction("DeleteStokKategori")
                .InsertAction("AddStokKategori")
                .Key("StokKategoriId")

                )
                .RemoteOperations(true)
                .Columns(columns => {

                columns.AddFor(m => m.StockGroupId).AllowEditing(true).Lookup(l=>l.DataSource(d=>d.Mvc().LoadAction("GetAllStockGroup").Key("StockGroupId")).DisplayExpr("StockGroupName").ValueExpr("StockGroupId")).Alignment(HorizontalAlignment.Left).Caption("Grup Adı").AllowFiltering(true);

                columns.AddFor(m => m.StokKategoriName).Alignment(HorizontalAlignment.Left).Caption("Kategori Adı").AllowFiltering(true);

                })
                .SearchPanel(s => s
                .Visible(true)
                .HighlightCaseSensitive(true)
                .Placeholder("Ara")
                .Width(200)
                )
                .FilterRow(f => f.Visible(true))
                .HeaderFilter(f => f.Visible(true))
                .Height("100%")
                .ShowBorders(true)
                .Paging(paging => paging.PageSize(10))
                 .Editing(e =>
                e.AllowAdding(true)
                .AllowDeleting(true)
                .AllowUpdating(true)
                .UseIcons(true) 
                .Mode(GridEditMode.Popup)
                .Popup(p=>
                p.Title("Kategori Ekle & Düzenle")
                .ShowTitle(true)
                .Width(700)
                ))
                .Pager(p=>
                p.AllowedPageSizes(new JS("[5, 10, 20]"))
                .ShowNavigationButtons(true)
                .ShowPageSizeSelector(true)
                .Visible(true)
                .ShowNavigationButtons(true)
                .ShowInfo(true)
                .DisplayMode(GridPagerDisplayMode.Full)
                )
            
                .Grouping(g => g.AutoExpandAll(false))
                )
        </div>
        <div class="card-footer">
           
        </div>
    </div>
</div>


