@using Bakim.ViewModels;

@model DescribeViewModel;


<div class="container">
    <div class="card ">
        <div class="card-header card-header-stretch">
            <h3 id="baslik" class="card-title">Varlık Tanımlama</h3>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="kt_tab_pane_7" role="tabpanel">
                    <form id="formid" asp-controller="Describing" asp-action="Varlik" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6 mb-10">
                                <div class="ms-8">
                                    <label for="exampleFormControlInput1" class="form-label">Varlık Resmi</label>
                                    <br>
                                    <br>
                                    <!--begin::Image input-->
                                    <div class="image-input image-input-outline" data-kt-image-input="true"
                                        style="background-image: url(/app/images/varliks)">
                                        <!--begin::Image preview wrapper-->
                                        <div class="image-input-wrapper w-150px h-150px"
                                            style="background-image: url(/app/images/HHT/Locha.jpeg)"></div>
                                        <!--end::Image preview wrapper-->

                                        <!--begin::Edit button-->
                                        <label
                                            class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                                            data-kt-image-input-action="change" data-bs-toggle="tooltip"
                                            data-bs-dismiss="click" title="Change avatar">
                                            <i class="bi bi-pencil-fill fs-7"></i>

                                            <!--begin::Inputs-->
                                            <input type="file" name="file" accept=".png, .jpg, .jpeg"
                                                style="object-fit:cover;" />
                                            <input type="hidden" name="avatar_remove" />
                                            <!--end::Inputs-->
                                        </label>
                                        <!--end::Edit button-->

                                        <!--begin::Cancel button-->
                                        <span
                                            class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                                            data-kt-image-input-action="cancel" data-bs-toggle="tooltip"
                                            data-bs-dismiss="click" title="Cancel avatar">
                                            <i class="bi bi-x fs-2"></i>
                                        </span>
                                        <!--end::Cancel button-->

                                        <!--begin::Remove button-->
                                        <span
                                            class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                                            data-kt-image-input-action="remove" data-bs-toggle="tooltip"
                                            data-bs-dismiss="click" title="Remove avatar">
                                            <i class="bi bi-x fs-2"></i>
                                        </span>
                                        <!--end::Remove button-->
                                    </div>
                                    <!--end::Image input-->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="exampleFormControlInput1" class="required form-label">Üretim Bölümü</label>
                                <select required class="form-select form-select-sm form-select-solid mb-4" data-control="select2"
                                    name="ProductionSectionId" data-placeholder="Üretim Bölümü Seçiniz" data-allow-clear="true">
                                    <option></option>
                                    @foreach (var item in Model.UretimBolumu)
                                    {
                                        <option value="@item.ProductionSectionId">@item.ProductionSectionName</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="exampleFormControlInput1" class="required form-label">Varlık Grubu</label>
                                <select required onchange="kategorigetiren($(this).val())"
                                    class="form-select form-select-sm form-select-solid mb-4" data-control="select2"
                                    name="VarlikGroupId" data-placeholder="Varlık Grubu Seçiniz" data-allow-clear="true">
                                    <option></option>
                                    @foreach (var item in Model.VarlikGrubu)
                                    {
                                        <option value="@item.VarlikGroupId">@item.VarlikGroupName</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="exampleFormControlInput1" class="required form-label">Varlık Kategorisi</label>
                                <select required id="detaygrup" class="form-select form-select-sm form-select-solid mb-4"
                                    data-control="select2" data-placeholder="Kategori Seçiniz" name="DetayGroupId" data-allow-clear="true">
                                    <option value=""></option>

                                </select>
                            </div>
                            <div class="col-md-12 d-flex justify-content-between">

                            <div class="col-md-4 p-0">
                                <div class="mb-10">
                                    <label for="exampleFormControlInput1" class="required form-label">Varlık Kodu</label>
                                    <input required type="text" class="form-control form-control-sm form-control-solid mb-4"
                                        placeholder="Varlık Kodu Yazınız" name="VarlikCode" />
                                </div>
                            </div>
                            <div class="col-md-6 ps-3 pe-0">
                                <div class="mb-10">
                                    <label for="exampleFormControlInput1" class="required form-label">Varlık Adı</label>
                                    <input required type="text" class="form-control form-control-sm form-control-solid mb-4"
                                        placeholder="Varlık Adı Yazınız" name="VarlikName" />
                                </div>
                            </div>
                            </div>

                        </div>
                        <button id="submitbtn" type="button" class=" btn btn-primary float-right mb-2">Varlık Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    
    function kategorigetiren(value) {
        console.log(value);
        $('#detaygrup').html("");
        $.ajax({
            url: "/Describing/KategoriGetiren",
            method: "GET",  // istek türü (GET veya POST)
            data: { getiren: value },  // gönderilecek veriler
            async: true,
            success: function (result) {
                let option = $('<option></option>');
                $('#detaygrup').append(option);
                console.log(result);
                for (let item of result) {
                    $('#detaygrup').append("<option value=" + item.DetayGroupId + ">" + item.DetayGroupName + "</option>");
                }
            }
        });
    }

     $(document).on('click','#submitbtn', function(e){
        e.preventDefault();
        if(checkInputs("formid"))
            $('#formid').submit();
    });

    function checkInputs(formName) {
  const getform = "#" + formName;
  var result = true;
  $(getform)
    .find("input:required")
    .each(function () {
      if ($(this).val() === "") {
        result = false;
      }
    });
  $(getform)
    .find("select:required")
    .each(function () {
      if ($(this).val() === "") {
        result = false;
      }
    });
  $(getform)
    .find("textarea:required")
    .each(function () {
      if ($(this).val() === "") {
        result = false;
      }
    });
  if (result === false) {
    Swal.fire({
      text: "Zorunlu Alanları Doldurun.",
      icon: "error",
      timer: 1200,
      showConfirmButton: false,
    });
    return result;
  }
  return true;
}
</script>
