<div class="container">
    <div class="container-fluid mb-5 d-flex justify-content-center">


    </div>
    @(Html.DevExtreme().DataGrid<ApplicationUser>()
    .DataSource(d => d.Mvc()
    .Controller("Users")
    .LoadAction("GetUsers")
    .UpdateAction("UpdateUser")
    .DeleteAction("DeleteUser")
    .Key("Id")

    )
    .RemoteOperations(true)
    .Columns(columns => {
    columns.AddFor(m => m.UserName).AllowEditing(true).AllowFiltering(true).Visible(true).Caption("Kullanıcı Adı");
    columns.AddFor(m=>m.Id).Visible(false).AllowEditing(false);
    columns.AddFor(m => m.Email).Alignment(HorizontalAlignment.Left).AllowHiding(true).HidingPriority(1);
    columns.AddFor(m => m.IsAdmin).Caption("Admin").AllowHiding(true).HidingPriority(2);


    })

    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .GroupPanel(p => p.Visible(true).EmptyPanelText("Uygulama Kullanıcıları"))
    .Height(600)
    .ShowBorders(true)

    .Pager(p=>
    p.AllowedPageSizes(new List<int>{8})
    .ShowNavigationButtons(true)
    .ShowPageSizeSelector(false)
    .Visible(true)

    )
    .Paging(p=>p.PageSize(8).Enabled(true))
        @*.MasterDetail(md => md
            .Enabled(true)
            .Template(@<text>

            @(Html.DevExtreme().DataGrid()
            .DataSource(d => d.Mvc()
            .Controller("VGrup")
            .LoadAction("OrderDetails")
            .LoadParams(new { vGrupId = new JS("data.VGrupId") })
            )
            .ShowBorders(true)
            )

            </text>)
            )*@
    .Editing(e =>
    e.AllowAdding(false)
    .AllowDeleting(true)
    .AllowUpdating(true)
    .UseIcons(true)
    .Mode(GridEditMode.Popup)
    .Popup(p=>
    p.Title("Kullanıcı Ekle & Güncelle")
    .ShowTitle(true)
    .Width(700)
    )
    )
    .Grouping(g => g.AutoExpandAll(false))

    )
    <div style="float: right;" class="mt-3">
       

 <a asp-controller="auth" asp-action="register" class="btn btn-primary">Kullanıcı Ekle</a>

      
    </div>
</div>