<div class="container">


     <div class="row stats mt-3 mb-10">
        <div class="col-md-12">
            <a asp-action="MachineTickets">
                <div class="stat stokStat">
                    <div class="staticon"><i class="fa-solid fa-cash-register"></i></div>
                     <div class="statinfo varlikinfo">Makine arızaları</div>
                     <div class="statsubinfo varliksubinfo">Makinelerden gelen arıza biletlerine göz atın.</div>
                     
                </div>
            </a>   
        </div>     
       
    </div>
     <div class="row stats mt-3 mb-10">
        <div class="col-md-12">
            
            <a asp-action="WorkTasks">
                <div class="stat grupStat">
                    <div class="staticon"><i class="fa-brands fa-nfc-directional"></i></div>
                     <div class="statinfo varlikinfo">İş Emirleri</div>
                     <div class="statsubinfo varliksubinfo">İş emirlerinize göz atın.</div>
                     
                </div>
            </a>    
        </div>     
       
    </div>
     <div class="row stats mt-3 mb-10">
        <div class="col-md-12">
            
                <div class="stat varlikStat">
                    <div class="staticon"><i class="fa-solid fa-screwdriver-wrench"></i></div>
                     <div class="statinfo varlikinfo">Rutin Bakım</div>
                     <div class="statsubinfo varliksubinfo">Rutin bakımları görün</div>
                    
                </div>
                    
        </div>     
       
    </div>
     <div class="row stats mt-3 mb-10">
        <div class="col-md-12">
            
                <div class="stat isemriStat">
                    <div class="staticon"><i class="fa-solid fa-chart-pie"></i></div>
                     <div class="statinfo varlikinfo">İstatistsel veriler & Raporlama</div>
                     <div class="statsubinfo varliksubinfo">Tüm kayıtların istatistiksel verilerine göz atın.</div>
                    
                </div>
                    
        </div>     
       
    </div>
</div>
    