@model int;

<div class="container">
    <div class="d-flex justify-content-between mb-4">
        <div class="d-flex align-items-center">
            <h4>- @ViewData["Name"]</h4>
        </div>
        <div class="align-items-center align-items-middle">
           <a asp-controller="Describing" asp-action="Stock" class="btn btn-success me-10">Stok Ekle</a>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Filtreler
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="Varlik" asp-action="StokListe" asp-route-filter="2">Tümü</a></li>
                    <li><a class="dropdown-item" asp-controller="Varlik" asp-action="StokListe" asp-route-filter="1">Aktifler</a></li>
                    <li><a class="dropdown-item" asp-controller="Varlik" asp-action="StokListe" asp-route-filter="10">Pasifler</a></li>
                </ul>
            </div>
        </div>        
    </div>
   
    <div class="card border-0 card-p">
        @(Html.DevExtreme().DataGrid<StokListe>()
        .ID("stoklistesi")
        .ShowBorders(true)
        .DataSource(d => d.Mvc().LoadAction("Stoklistesi").Controller("Varlik").LoadParams(new{id = Model})
        )
        .FilterRow(filterRow => filterRow
        .Visible(true)
        .ApplyFilter(GridApplyFilterMode.Auto)
        )
        .Height("100%")
        .SearchPanel(searchPanel => searchPanel.Visible(true).Width(300))
        .Paging(paging => paging.PageSize(10))
        .Pager(p=>
        p.AllowedPageSizes(new JS("[5, 10, 20]"))
        .ShowNavigationButtons(true)
        .ShowPageSizeSelector(true)
        .Visible(true)
        .ShowNavigationButtons(true)
        .ShowInfo(true)
        .DisplayMode(GridPagerDisplayMode.Full)
        )
        .KeyExpr("StockId")
        .Columns(columns => {
            @* columns.AddFor(m => m.ImagePath).CellTemplate(@<text>
                <div>
                <img style="max-width:100%; height:auto;" src="/app/images/varliks/<%- data.ImagePath %>" alt="" />
                </div>
                </text>).Caption("Stok Resmi"); *@

        columns.AddFor(m => m.stock.stokGrubu.StockGroupName).Caption("Stok Grubu");

        columns.AddFor(m => m.stock.stokKategori.StokKategoriName).Caption("Stok Kategorisi");

        columns.AddFor(m => m.stock.StockName).Caption("Stok Adı");

        columns.AddFor(m => m.stock.StockCode).Caption("Stok Kodu");
        
        columns.AddFor(m=> m.tedarikciFirmalar).CellTemplate(new JS("tedarikfirmalar")).Caption("Tedarikçiler");

        columns.AddFor(m=>m.stock.UploadDate).DataType(GridColumnDataType.DateTime).Format("dd-MM-yyyy HH:mm").Caption("Eklenme Tarihi").SortOrder(SortOrder.Desc);
 
        columns.AddFor(m=>m.stock.StockId).Alignment(HorizontalAlignment.Center).AllowEditing(false).AllowFiltering(false).AllowSearch(false).CellTemplate(new JS("editbutton")).Caption("").Alignment(HorizontalAlignment.Center).Width(90);

        columns.AddFor(m=>m.stock.StockId).Alignment(HorizontalAlignment.Center).AllowEditing(false).AllowFiltering(false).AllowSearch(false).CellTemplate(new JS("detayButon")).Caption("Detay").Alignment(HorizontalAlignment.Center).Width(90); 

        })
        )


    </div>
    

   

</div>
<script>

    var permission = '@User.IsInRole("Admin")';

    function editbutton(container, options) { 

        if(permission != "True")
        {
            return;
        }

       
        $('<a href="/varlik/editstock?id=' + options.data.stock.StockId + '" class="btn btn-icon btn-primary"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/kt-products/docs/metronic/html/releases/2022-12-26-231111/core/html/src/media/icons/duotune/art/art005.svg-->\
        <span class="svg-icon svg-icon-muted svg-icon- 2x"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.3" d="M21.4 8.35303L19.241 10.511L13.485 4.755L15.643 2.59595C16.0248 2.21423 16.5426 1.99988 17.08251.99988C17.6224 1.99988 18.1402 2.21423 18.522 2.59595L21.4 5.474C21.7817 5.85581 21.9962 6.37355 21.99626.91345C21.9962 7.45335 21.7817 7.97122 21.4 8.35303ZM3.68699 21.932L9.88699 19.865L4.13099 14.109L2.0639920.309C1.98815 20.5354 1.97703 20.7787 2.03189 21.0111C2.08674 21.2436 2.2054 21.4561 2.37449 21.6248C2.54359 21.79342.75641 21.9115 2.989 21.9658C3.22158 22.0201 3.4647 22.0084 3.69099 21.932H3.68699Z" fill="currentColor"/><path d="M5.574 21.3L3.692 21.928C3.46591 22.0032 3.22334 22.0141 2.99144 21.9594C2.75954 21.9046 2.54744 21.7864 2.378921.6179C2.21036 21.4495 2.09202 21.2375 2.03711 21.0056C1.9822 20.7737 1.99289 20.5312 2.06799 20.3051L2.69618.422L5.574 21.3ZM4.13499 14.105L9.891 19.861L19.245 10.507L13.489 4.75098L4.13499 14.105Z" fill="currentColor"/></svg></span></a>').appendTo(container);
    }


    function detayButon(container, options) {      
        $('<a href="/varlik/StokDetay?id=' + options.data.stock.StockId + '" class="btn btn-icon btn-warning"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/kt-products/docs/metronic/html/releases/2022-12-26-231111/core/html/src/media/icons/duotune/general/gen045.svg-->\
        <span class="svg-icon svg-icon-muted svg-icon-2hx"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"/><rect x="11" y="17" width="7" height="2" rx="1" transform="rotate(-90 11 17)" fill="currentColor"/><rect x="11" y="9" width="2" height="2" rx="1" transform="rotate(-90 11 9)" fill="currentColor"/></svg></span> </a>').appendTo(container);
    }
    function tedarikfirmalar(container, options){
        if(options.data.tedarikciFirmalar.length > 0){
            if(options.data.tedarikciFirmalar.length == 1){
                 $('<span>'+options.data.tedarikciFirmalar[0].FirmaAdi + '</span>').appendTo(container);
            }
            else{
                $('<span>'+options.data.tedarikciFirmalar[0].FirmaAdi + ' +'+(options.data.tedarikciFirmalar.length-1)+' tane daha</span>').appendTo(container);
            }
        }
        else {
            $('<span>""</span>').appendTo(container);
        }
    }
</script>

